h1 
{
    text-align: center;
    font-family: "Times New Roman";
    font-size: 400%;
    padding: 32px;
}

body 
{
	opacity: 0.7;
}


p
{
	text-align: center;
	font-family: "Times New Roman";
	font-size: 150%;
}

/*Bee I have a doubt, what if I don't want all the paragraph values to be 
centre alligned? I mean I want the numbers left alligned. */